<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus dolorem assumenda aperiam nisi quae, facilis quia facere labore quidem adipisci totam molestias accusantium atque illo suscipit, asperiores exercitationem quos placeat veniam? Quam eaque hic tempora pariatur modi temporibus voluptate, a vel voluptatem. Dolorem dolor laudantium, distinctio laborum autem vitae provident nobis iure repudiandae alias excepturi, facere necessitatibus? Libero deserunt dolore odit a maiores! Libero ullam, ipsa dicta iure quos repellat dolorum accusantium eveniet fugiat eaque mollitia doloremque eligendi modi aliquam, fuga reiciendis! Laudantium inventore dignissimos ratione? Asperiores, eligendi maiores ratione corrupti numquam, omnis distinctio et porro mollitia commodi, at quidem.</p>

<%- include("footer") -%>